-# coding: utf-8
!!! 5
%html{:lang => "en"}
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext", :rel=>'stylesheet', :type=>'text/css'}/
    %meta{:charset => "utf-8"}/
    %title= @title ? @title + ' ' + $title : $title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => 'text/html;charset=UTF-8', 'http-equiv' => "content-type"}/
    %meta{:content => $pagedesc, :name => "description"}/
    %meta{:content => $pageauthor, :name => "author"}/
    %meta{:content => $pagekeyws, :name => "keywords"}/

    /%link{:href => "/stylesheets/bootstrap.less", :rel => "stylesheet/less"}/
    /%script{:src => "/javascripts/less.js"}
    =stylesheet_link_tag 'app'
    =javascript_include_tag 'jquery', 'collapse', 'tab', 'transition', 'dropdown'
    =yield_content :include

    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}/
    / %link{:href => "assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    / %link{:href => "assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    / %link{:href => "assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    = yield_content :header

  %body{"data-offset" => "50", "data-spy" => "scroll", "data-target" => ".subnav"}
    #top.contentwrapper
      .navbar
        .navbar-inner
          .container
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => "/"}
              %img{:src=>'/images/gp_logo.png',:width=>270,:height=>74,:alt=>'Greenpeace'}
            .pull-left{:style=>'width:60px'} &nbsp;
            .pull-left
              %img#lock{:src=>'/images/lock.gif',:alt=>'',:style=>'margin-top:14px;'}

      .container
        .outer= yield_content :outer
        %header.jumbotron.masthead
          .alert.hide=[:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join
          .inner= yield
      .push
    %footer.footer
      .container
        .row
          .span12
            #footerbottom
              %ul
                %li{:style=>'margin-top:1px'}
                  %a.small{:href=>'http://greenpeace.org.il/'} GREENPEACE IL
                  %span &copy;
                  %span.small= Date.today.year.to_s
                %li
                  %a.large{:href=>'http://www.greenpeace.org/israel/contactus'} צור קשר
                %li
                  %a.large{:href=>'http://www.greenpeace.org/israel/footer/privacy'} פרטיות

                %li
                  -unless current_account
                    %a{:href=>'/sessions/new'} Log in
                  -else
                    -form_for :account, url(:sessions, :destroy), :class => 'hide', :id=>'signout', :method=>'post'  do |f|
                      %input{:value=>'delete',:name=>'_method',:type=>'hidden'}
                    %a{:href=>'#',:onclick=>'$("#signout").submit()'} Logout


