.row
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:first_name)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      =f.label :first_name, :class => 'control-label'
      .controls
        =f.text_field :first_name, :class => 'input-xlarge input-with-feedback'
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:last_name)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      =f.label :last_name, :class => 'control-label'
      .controls
        =f.text_field :last_name, :class => 'input-xlarge input-with-feedback'

.row
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:birthday)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      =f.label :birthday, :class => 'control-label'
      .controls
        =f.text_field :birthday, :class => 'input-xlarge input-with-feedback'
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:gender)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      =f.label :gender, :class => 'control-label'
      .controls
        .row
          .col-sm-6.col-6
            %input{:type=>'radio',:name=>'supporter[gender]',:value=>1} &nbsp; Male &nbsp;
          .col-sm-6.col-6
            %input{:type=>'radio',:name=>'supporter[gender]',:value=>1} &nbsp; Female &nbsp;

.row
  .col-sm-12.col-12
    - error = @supporter.errors.include?(:occupation)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      =f.label :occupation, :class => 'control-label'
      .controls
        =f.text_field :occupation, :class => 'input-xlarge input-with-feedback'
    %hr/

.row
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:city)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      =f.label :city, :class => 'control-label'
      .controls{:style=>'height:52px;'}
        %select#supporter_city.input-xlarge.input-with-feedback{:name=>'supporter[city]'}
          %optgroup
            -$cities.each do |c|
              %option{:value=>c}= c
    - error = @supporter.errors.include?(:street_name)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      =f.label :street_name, :class => 'control-label'
      .controls
        =f.text_field :street_name, :class => 'input-xlarge input-with-feedback'

    .row
      .col-sm-4.col-4
        - error = @supporter.errors.include?(:num_building)
        %fieldset.control-group{:class => error ? 'has-error' : ''}
          =f.label '#bld', :class => 'control-label'
          .controls
            =f.text_field :num_building, :class => 'input-xlarge input-with-feedback'
      .col-sm-4.col-4
        - error = @supporter.errors.include?(:num_apartment)
        %fieldset.control-group{:class => error ? 'has-error' : ''}
          =f.label '#apt', :class => 'control-label'
          .controls
            =f.text_field :num_apartment, :class => 'input-xlarge input-with-feedback'
      .col-sm-4.col-4
        - error = @supporter.errors.include?(:zip_code)
        %fieldset.control-group{:class => error ? 'has-error' : ''}
          =f.label :zip, :class => 'control-label'
          .controls
            =f.text_field :zip_code, :class => 'input-xlarge input-with-feedback'
    %hr/

  .col-sm-6.col-6
    - error = @supporter.errors.include?(:home_phone)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      =f.label :home_phone, :class => 'control-label'
      .controls
        =f.text_field :home_phone, :class => 'input-xlarge input-with-feedback'
    - error = @supporter.errors.include?(:mobile_phone)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      =f.label :mobile_phone, :class => 'control-label'
      .controls
        =f.text_field :mobile_phone, :class => 'input-xlarge input-with-feedback'
    - error = @supporter.errors.include?(:email)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      =f.label :email, :class => 'control-label'
      .controls
        =f.text_field :email, :class => 'input-xlarge input-with-feedback'
    %hr/

.row
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:receive_updates)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      =f.label :receive_updates, :class => 'control-label'
      =f.check_box :receive_updates, :class => 'input-xlarge input-with-feedback'
    %hr/

  .col-sm-6.col-6
    - error = @supporter.errors.include?(:existing)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      =f.label :existing, :class => 'control-label'
      =f.check_box :existing, :class => 'input-xlarge input-with-feedback'
    %hr/

.row
  .col-sm-12.col-12
    %ul.nav.nav-tabs#dontypes
      %li.active
        %a{:href=>'#monthly'} Monthly
      %li
        %a{:href=>'#oneoff'} One-off

    .tab-content.whitebg
      .tab-pane.active#monthly
        .row
          -$prices.each do |p|
            .col-3.col-sm-3
              %input{:type=>:radio,:name=>:monthly,:onclick=>'setMonthly('+p.to_s+')'}= ' '+p.to_s+' ILS'
          .col-3.col-sm-3
            %input{:type=>:radio,:name=>:monthly,:onclick=>'resetMonthly()'}= ' Other'
          .col-12.col-sm-12
            - error = @supporter.errors.include?(:ap_monthly)
            %fieldset.control-group{:class => error ? 'has-error' : ''}
              -#=f.label :ap_monthly, :class => 'control-label'
              .controls
                =f.text_field :ap_monthly, :class => 'input-xlarge input-with-feedback'
        :javascript
          function resetMonthly() {
            $('#supporter_ap_monthly').val('');
            $('#supporter_ap_monthly').focus();
          }
          function setMonthly(x) {
            $('#supporter_ap_monthly').val(x)
          }

      .tab-pane#oneoff
        .row
          -$prices.each do |p|
            .col-3.col-sm-3
              %input{:type=>:radio,:name=>:monthly,:onclick=>'setOneoff('+(p*5).to_s+')'}= ' '+(p*5).to_s+' ILS'
          .col-3.col-sm-3
            %input{:type=>:radio,:name=>:monthly,:onclick=>'resetOneoff()'}= ' Other'
          .col-12.col-sm-12
            - error = @supporter.errors.include?(:ap_one_off)
            %fieldset.control-group{:class => error ? 'has-error' : ''}
              -#=f.label :ap_one_off, :class => 'control-label'
              .controls
                =f.text_field :ap_one_off, :class => 'input-xlarge input-with-feedback'
        :javascript
          function resetOneoff() {
            $('#supporter_ap_one_off').val('');
            $('#supporter_ap_one_off').focus();
          }
          function setOneoff(x) {
            $('#supporter_ap_one_off').val(x)
          }


  :javascript
    $('#dontypes a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
      $.each($('.tab-pane input'),function(i,v){
        $(v).val('');
      });
    })

.row
  .col-sm-12.col-12
    - error = @supporter.errors.include?(:notes)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      =f.label :notes, :class => 'control-label'
      .controls
        ~f.text_area :notes, :class => 'input-xlarge input-with-feedback', :rows=>4
    %hr/

.row
  .col-sm-12.col-12
    .form-actions
      =f.submit pat(:save), :class => 'btn btn-success input-xlarge', :style => 'height: 72px; padding:24px 0;'
