-#coding:utf-8
.row
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:first_name)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.required.control-label{:for=>'supporter_first_name'}= 'שם פרטי'
      .controls
        =f.text_field :first_name, :class => 'input-xlarge input-with-feedback'
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:last_name)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.required.control-label{:for=>'supporter_last_name'}= 'שם משפחה'
      .controls
        =f.text_field :last_name, :class => 'input-xlarge input-with-feedback'

.row
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:birthday)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.required.control-label{:for=>'supporter_birthday'}= 'תאריך לידה'
      .controls
        =f.text_field :birthday, :class => 'input-xlarge input-with-feedback datemask'
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:gender)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.required.control-label{:for=>'supporter_gender'}= 'מין'
      .controls
        .row
          .col-sm-6.col-6
            %input{:type=>'radio',:name=>'supporter[gender]',:value=>1} &nbsp; זכר &nbsp;
          .col-sm-6.col-6
            %input{:type=>'radio',:name=>'supporter[gender]',:value=>0} &nbsp; נקבה &nbsp;

.row
  .col-sm-12.col-12
    - error = @supporter.errors.include?(:occupation)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.control-label{:for=>'supporter_occupation'}= 'עיסוק'
      .controls
        =f.text_field :occupation, :class => 'input-xlarge input-with-feedback'
    %hr/

.row
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:address)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.required.control-label{:for=>'supporter_address'}= 'כתובת'
      .controls
        ~f.text_area :address, :class => 'input-xlarge input-with-feedback', :rows=>4, :style=>'height:158px;max-height:158px'

    .row
      .col-sm-8.col-8
        - error = @supporter.errors.include?(:city)
        %fieldset.control-group{:class => error ? 'has-error' : ''}
          %label.required.control-label{:for=>'supporter_city'}= 'עיר'
          .controls
            =f.text_field :city, :class => 'input-xlarge input-with-feedback'
      .col-sm-4.col-4
        - error = @supporter.errors.include?(:zip_code)
        %fieldset.control-group{:class => error ? 'has-error' : ''}
          %label.required.control-label{:for=>'supporter_zip_code'}= 'מיקוד'
          .controls
            =f.text_field :zip_code, :class => 'input-xlarge input-with-feedback number'
    %hr/

  .col-sm-6.col-6
    - error = @supporter.errors.include?(:home_phone)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.control-label{:for=>'supporter_home_phone'}= 'טלפון בבית'
      .row.controls
        .col-sm-9.col-9
          %input#home_phone.input-xlarge.input-with-feedback.hphonemask.hphone{:type=>"text",:name=>"home_phone"}
          %input#supporter_home_phone{:type=>"hidden",:name=>"supporter[home_phone]"}
        .col-sm-3.col-3
          %select#home_phone_prefix.hphone{:name=>"home_phone_prefix"}
            %optgroup
              -["--","02","03","04","06","072","073","076","077","078","08","09"].each do |pref|
                %option{:value=>pref}= pref

    - error = @supporter.errors.include?(:mobile_phone)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.required.control-label{:for=>'supporter_mobile_phone'}= 'טלפון נייד'
      .row.controls
        .col-sm-9.col-9
          %input#mobile_phone.input-xlarge.input-with-feedback.mphonemask.mphone{:type=>"text",:name=>"mobile_phone"}
          %input#supporter_mobile_phone{:type=>"hidden",:name=>"supporter[mobile_phone]"}
        .col-sm-3.col-3
          %select#mobile_phone_prefix.mphone{:name=>"mobile_phone_prefix"}
            %optgroup
              -["--","050","051","052","053","054","055","056","057","058","059"].each do |pref|
                %option{:value=>pref}= pref

    - error = @supporter.errors.include?(:email)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.required.control-label{:for=>'supporter_email'}= 'אי-מייל'
      .controls
        =f.text_field :email, :class => 'input-xlarge input-with-feedback'
    %hr/

.row
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:receive_updates)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.control-label{:for=>'supporter_receive_updates'}= 'מעוניין לקבל עדכונים?'
      =f.check_box :receive_updates, :class => 'input-with-feedback'
    %hr/

.row
  .col-sm-12.col-12
    -#
      %ul.nav.nav-tabs#dontypes
        %li.active
          %a{:href=>'#monthly'} Monthly
        %li
          %a{:href=>'#oneoff'} One-off

    .tab-content
      .tab-pane.active#monthly
        %p  סכום תרומה חודשי 
        .row
          -$prices.each do |p|
            .col-3.col-sm-3
              %input{:type=>:radio,:name=>:monthly,"data-value"=>p.to_s}= ' '+p.to_s+' ש"ח'
          .col-3.col-sm-3
            %input{:type=>:radio,:name=>:monthly}= ' אחר'
        .row
          .col-12.col-sm-12
            - error = @supporter.errors.include?(:amount)
            %fieldset.control-group{:class => error ? 'has-error' : ''}
              %label.control-label{:for=>'supporter_amount'}= ''
              .controls
                =f.text_field :amount, :class => 'input-xlarge input-with-feedback'

            %fieldset.control-group.hide{:class => error ? 'has-error' : ''}
              %label.control-label{:for=>'supporter_intended_amount'}= ''
              .controls
                =f.text_field :intended_amount, :class => 'input-xlarge input-with-feedback'
        :javascript
          function resetMonthly() {
            $('#supporter_amount').val('');
            $('#supporter_intended_amount').val('');
            $('#supporter_amount').focus();
          }
          function setMonthly(x) {
            $('#supporter_amount').val(x)
            $('#supporter_intended_amount').val(x)
          }
    -#
      .tab-pane#oneoff
        .row
          -$prices.each do |p|
            .col-3.col-sm-3
              %input{:type=>:radio,:name=>:monthly,:onclick=>'setOneoff('+(p*5).to_s+')'}= ' '+(p*5).to_s+' ILS'
          .col-3.col-sm-3
            %input{:type=>:radio,:name=>:monthly,:onclick=>'resetOneoff()'}= ' Other'
          .col-12.col-sm-12
            - error = @supporter.errors.include?(:ap_one_off)
            %fieldset.control-group{:class => error ? 'has-error' : ''}
              -#%label.control-label{:for=>'supporter_'}= :ap_one_off
              .controls
                =f.text_field :ap_one_off, :class => 'input-xlarge input-with-feedback'
        :javascript
          function resetOneoff() {
            $('#supporter_ap_one_off').val('');
            $('#supporter_ap_one_off').focus();
          }
          function setOneoff(x) {
            $('#supporter_ap_one_off').val(x)
          }
-#
  :javascript
    $('#dontypes a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
      $.each($('.tab-pane input'),function(i,v){
        $(v).val('');
      });
    })

.row
  .col-sm-12.col-12
    - error = @supporter.errors.include?(:notes)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.control-label{:for=>'supporter_notes'}= 'הערות'
      .controls
        ~f.text_area :notes, :class => 'input-xlarge input-with-feedback', :rows=>4, :style=>'max-width:100%;'
    %hr/

.row
  %h2 המליצו על חבר
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:member_name)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.required.control-label{:for=>'supporter_member_name'}= 'שם מלא'
      .controls
        =f.text_field :member_name, :class => 'input-xlarge input-with-feedback'
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:member_phone)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.required.control-label{:for=>'supporter_member_phone'}= 'טלפון'
      .row.controls
        .col-sm-9.col-9
          %input#member_phone.input-xlarge.input-with-feedback.ephonemask.mphone{:type=>"text",:name=>"member_phone"}
          %input#supporter_member_phone{:type=>"hidden",:name=>"supporter[member_phone]"}
        .col-sm-3.col-3
          %select#member_phone_prefix.ephone{:name=>"member_phone_prefix"}
            %optgroup
              -["--","050","051","052","053","054","055","056","057","058","059"].each do |pref|
                %option{:value=>pref}= pref
    %hr/


.row
  .col-sm-12.col-12
    .form-actions
      =f.submit pat(:submit), :class => 'btn btn-success input-xlarge', :style => 'height: 72px; padding:24px 0;'

:javascript
  $(document).ready(function(){
    $(".datemask").mask("99/99/9999");
    $('.datemask').attr('placeholder','__/__/____');
    $('.datemask').css('direction','ltr');

    $(".mphonemask").mask("999 9999");
    $('.mphonemask').attr('placeholder','___ ____');
    $('.mphonemask').css('direction','ltr');

    $(".ephonemask").mask("999 9999");
    $('.ephonemask').attr('placeholder','___ ____');
    $('.ephonemask').css('direction','ltr');

    $(".hphonemask").mask("999 9999");
    $('.hphonemask').attr('placeholder','___ ____');
    $('.hphonemask').css('direction','ltr');

    $('.number').css('direction','ltr');

    $('.hphone').on('change', function(e) {
      $("#supporter_home_phone").val($("#home_phone_prefix option:selected").val()+" "+$("#home_phone").val().replace(/\D/g,""));
    });
    
    $('.mphone').on('change', function(e) {
      $("#supporter_mobile_phone").val($("#mobile_phone_prefix option:selected").val()+" "+$("#mobile_phone").val().replace(/\D/g,""));
    });
    
    $('.ephone').on('change', function(e) {
      $("#supporter_member_phone").val($("#member_phone_prefix option:selected").val()+" "+$("#member_phone").val().replace(/\D/g,""));
    });
    
    $('input[name=monthly]').on('click', function(e) {
      val = $(e.target).attr('data-value');
      if (val > 0) {
        setMonthly(val);
      } else {
        resetMonthly();
      }
    });
    $('#supporter_amount').blur(function(e){
      $('#supporter_intended_amount').val($(e.target).val());
    });
  });
