-#coding:utf-8
.row
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:first_name)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.control-label{:for=>'supporter_first_name'}= 'שם פרטי'
      .controls
        =f.text_field :first_name, :class => 'input-xlarge input-with-feedback'
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:last_name)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.control-label{:for=>'supporter_last_name'}= 'שם משפחה'
      .controls
        =f.text_field :last_name, :class => 'input-xlarge input-with-feedback'

.row
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:birthday)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.control-label{:for=>'supporter_birthday'}= 'תאריך לידה'
      .controls
        =f.text_field :birthday, :class => 'input-xlarge input-with-feedback datemask'
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:gender)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.control-label{:for=>'supporter_gender'}= 'מין'
      .controls
        .row
          .col-sm-6.col-6
            %input{:type=>'radio',:name=>'supporter[gender]',:value=>1} &nbsp; זכר &nbsp;
          .col-sm-6.col-6
            %input{:type=>'radio',:name=>'supporter[gender]',:value=>0} &nbsp; נקבה &nbsp;

.row
  .col-sm-12.col-12
    - error = @supporter.errors.include?(:occupation)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.control-label{:for=>'supporter_occupation'}= 'מקצוע'
      .controls
        =f.text_field :occupation, :class => 'input-xlarge input-with-feedback'
    %hr/

.row
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:city)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.control-label{:for=>'supporter_city'}= 'עיר'
      .controls
        =f.text_field :city, :class => 'input-xlarge input-with-feedback'

    - error = @supporter.errors.include?(:street_name)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.control-label{:for=>'supporter_street_name'}= :street_name
      .controls
        =f.text_field :street_name, :class => 'input-xlarge input-with-feedback'

    .row
      .col-sm-4.col-4
        - error = @supporter.errors.include?(:zip_code)
        %fieldset.control-group{:class => error ? 'has-error' : ''}
          %label.control-label{:for=>'supporter_zip_code'}= 'מיקוד'
          .controls
            =f.text_field :zip_code, :class => 'input-xlarge input-with-feedback number'
      .col-sm-8.col-8
        - error = @supporter.errors.include?(:address)
        %fieldset.control-group{:class => error ? 'has-error' : ''}
          %label.control-label{:for=>'supporter_address'}= 'הערות'
          .controls
            ~f.text_area :address, :class => 'input-xlarge input-with-feedback', :rows=>4, :style=>'max-width:100%;'
    %hr/

  .col-sm-6.col-6
    - error = @supporter.errors.include?(:home_phone)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.control-label{:for=>'supporter_home_phone'}= 'טלפון בבית'
      .controls
        =f.text_field :home_phone, :class => 'input-xlarge input-with-feedback phonemask'
    - error = @supporter.errors.include?(:mobile_phone)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.control-label{:for=>'supporter_mobile_phone'}= 'טלפון נייד'
      .controls
        =f.text_field :mobile_phone, :class => 'input-xlarge input-with-feedback phonemask'
    - error = @supporter.errors.include?(:email)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.control-label{:for=>'supporter_email'}= 'אי-מייל'
      .controls
        =f.text_field :email, :class => 'input-xlarge input-with-feedback'
    %hr/

.row
  .col-sm-6.col-6
    - error = @supporter.errors.include?(:receive_updates)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.control-label{:for=>'supporter_receive_updates'}= 'מעוניין לקבל עדכונים?'
      =f.check_box :receive_updates, :class => 'input-with-feedback'
    %hr/

.row
  .col-sm-12.col-12
    -#
      %ul.nav.nav-tabs#dontypes
        %li.active
          %a{:href=>'#monthly'} Monthly
        %li
          %a{:href=>'#oneoff'} One-off

    .tab-content
      .tab-pane.active#monthly
        .row
          -$prices.each do |p|
            .col-3.col-sm-3
              %input{:type=>:radio,:name=>:monthly,:onclick=>'setMonthly('+p.to_s+')'}= ' '+p.to_s+' ILS'
          .col-3.col-sm-3
            %input{:type=>:radio,:name=>:monthly,:onclick=>'resetMonthly()'}= ' Other'
          .col-12.col-sm-12
            - error = @supporter.errors.include?(:amount)
            %fieldset.control-group{:class => error ? 'has-error' : ''}
              %label.control-label{:for=>'supporter_amount'}= ''
              .controls
                =f.text_field :amount, :class => 'input-xlarge input-with-feedback'
        :javascript
          function resetMonthly() {
            $('#supporter_amount').val('');
            $('#supporter_amount').focus();
          }
          function setMonthly(x) {
            $('#supporter_amount').val(x)
          }
    -#
      .tab-pane#oneoff
        .row
          -$prices.each do |p|
            .col-3.col-sm-3
              %input{:type=>:radio,:name=>:monthly,:onclick=>'setOneoff('+(p*5).to_s+')'}= ' '+(p*5).to_s+' ILS'
          .col-3.col-sm-3
            %input{:type=>:radio,:name=>:monthly,:onclick=>'resetOneoff()'}= ' Other'
          .col-12.col-sm-12
            - error = @supporter.errors.include?(:ap_one_off)
            %fieldset.control-group{:class => error ? 'has-error' : ''}
              -#%label.control-label{:for=>'supporter_'}= :ap_one_off
              .controls
                =f.text_field :ap_one_off, :class => 'input-xlarge input-with-feedback'
        :javascript
          function resetOneoff() {
            $('#supporter_ap_one_off').val('');
            $('#supporter_ap_one_off').focus();
          }
          function setOneoff(x) {
            $('#supporter_ap_one_off').val(x)
          }
-#
  :javascript
    $('#dontypes a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
      $.each($('.tab-pane input'),function(i,v){
        $(v).val('');
      });
    })

.row
  .col-sm-12.col-12
    - error = @supporter.errors.include?(:notes)
    %fieldset.control-group{:class => error ? 'has-error' : ''}
      %label.control-label{:for=>'supporter_notes'}= 'הערות'
      .controls
        ~f.text_area :notes, :class => 'input-xlarge input-with-feedback', :rows=>4, :style=>'max-width:100%;'
    %hr/

.row
  .col-sm-12.col-12
    .form-actions
      =f.submit pat(:submit), :class => 'btn btn-success input-xlarge', :style => 'height: 72px; padding:24px 0;'

:javascript
  $(document).ready(function(){
    $(".datemask").mask("99/99/9999");
    $('.datemask').attr('placeholder','__/__/____');
    $('.datemask').css('direction','ltr');
    $(".phonemask").mask("999 999 9999");
    $('.phonemask').attr('placeholder','___ ___ ____');
    $('.phonemask').css('direction','ltr');
    $('.number').css('direction','ltr');
  });
