-#ecoding:utf-8
.row
  .col-sm-6.col-6.col-md-6
    %img{:src=>'/images/thanksbear.jpg',:style=>'max-width:100%;'}
  .col-sm-6.col-6.col-md-6
    -if @sup.account
      %h1= 'שלום '+@sup.first_name+','
      %p אנחנו רוצים לברך אותך על הצטרפותך לגרינפיס ולהודות לך על חברותך ותמיכתך!
      %p נשמח לשמור איתך על קשר ולעדכן אותך בכל הדברים החשובים שאנחנו עושים בזכות תמיכתך.
      %p אף נצחון או הצלחה שלנו אינם אפשריים בלי התומכים המדהימים שלנו.
      %p 
        ניתן ליצור איתנו קשר בטלפון 072-2204510 או במייל 
        %a{:href=>'mailto:gpmedisr@greenpeace.org'} gpmedisr@greenpeace.org
      %br/
      %p תודה,
      %p גרינפיס ישראל

      %p.hidden אני רוצה להודות לך מקרב לב על הצטרפותך לארגוננו.
      %p.hidden בקרוב תתחיל לקבל מהארגון ניוזלטר למייל ובו תוכל להתעדכן בכל מה שאנחנו משיגים בזכותך.
      %p.hidden
        ניתן ליצור איתנו קשר בטלפון 072-2204510 או במייל
        %a{:href=>'mailto:gpmedisr@greenpeace.org'} gpmedisr@greenpeace.org
      %br/
      %p.hidden= "#{@sup.account.name} #{@sup.account.surname}"
      -if @sup.dd_location
        %p.hidden= "#{@sup.dd_location}, #{@sup.dd_city}"
      %p.hidden= "#{@sup.acquired.strftime("%d/%m/%Y")}"
      %p.hidden מקום
      %p.hidden תאריך
    -else
      %h1= 'שלום '+@sup.first_name+','
      %p.hidden 
        %strong איש בארץ, שרק בזכות תמיכתם המתמשכת, מסייעים לנו להמשיך ולהגן על כדור הארץ שלנו עבורנו ועבור הדורות הבאים.
      %p.hidden גרינפיס קיים כדי להבטיח את עצם קיומו של כדור הארץ שלנו. 
      %p.hidden לאורך יותר מ-40 שנות קיומנו חגגנו ניצחונות והצלחות רבות, וזאת בעזרת יישום יעיל ושיטתי של שיטות עבודה מוכחות כמו מחקר מדעי ואקדמי ממוקד, לוביזם ישיר מול מקבלי ההחלטות ובעלי ההון, פעילות ישירה יצירתית, חשיפה תקשורתית ועוד.
      %p.hidden אבל את כל אלו אנחנו פשוט לא יכולים להשיג ללא תומכינו הנאמנים – אנשים פרטיים מודעים ואכפתיים, ממש כמוך. אנשים שמוכנים לנקוט עמדה ולהתייצב למען האידיאלים, הערכים והאמונות שלהם ולהגן על זכותנו לחיות בעולם, נקי, בטוח ובר קיימא.
      %p.hidden
        %strong כל הצלחה וכל הישג שלנו הם פשוט בלתי אפשריים בלעדיך.
      %p.hidden
        %strong תודה רבה על חברותך החיונית!
      %br/
      %p.hidden נשמח לעמוד לרשותך לכל שאלה, הצעה או בקשה!
      %p.hidden ניתן להשיג אותנו בטלפון  072-2204510
      %p.hidden
        או במייל 
        %a{:href=>'mailto:gpmedisr@greenpeace.org'} gpmedisr@greenpeace.org
      %p.hidden צוות קשרי התומכים שלנו פעיל ועומד לרשותך בימים א-ה בין השעות 10:00-21:30
      %p.hidden ובימי ו' בין השעות 10:00-15:00.
      %br/
      %p.hidden 
        ניתן למצוא הרבה מידע מעניין על פעילויות הארגון גם
        %a{:href=>'https://www.facebook.com/greenpeace.il'} בפייסבוק
        שלנו.
      %p.hidden
        %strong שוב תודה רבה על חברותך ותמיכתך!
      %p.hidden שלמה פלדמן,
      %p.hidden מנהל קשרי תומכים,
      %p.hidden בשם צוות גרינפיס ים תיכון ישראל
