-#coding:utf-8
.row
  .col-sm-6.col-6.col-md-6
    %img{:src=>'/images/thanksbear.jpg',:style=>'max-width:100%;'}
  .col-sm-6.col-6.col-md-6
    -if @sup.account
      %h1= 'שלום '+@sup.first_name+','
      %p אני רוצה להודות לך מקרב לב על הצטרפותך לארגוננו.
      %p בקרוב תתחיל לקבל מהארגון ניוזלטר למייל ובו תוכל להתעדכן בכל מה שאנחנו משיגים בזכותך.
      %p
        ניתן ליצור איתנו קשר בטלפון 072-2204510 או במייל
        %a{:href=>'mailto:gpmedisr@greenpeace.org'} gpmedisr@greenpeace.org
      %br/
      %p= "#{@sup.account.name} #{@sup.account.surname}"
      -if @sup.dd_location
        %p= "#{@sup.dd_location}, #{@sup.dd_city}"
      %p= "#{@sup.acquired.strftime("%d/%m/%Y")}"
      %p מקום
      %p תאריך
    -else
      %h1= 'שלום '+@sup.first_name+','
      %p 
        %strong איש בארץ, שרק בזכות תמיכתם המתמשכת, מסייעים לנו להמשיך ולהגן על כדור הארץ שלנו עבורנו ועבור הדורות הבאים.
      %p גרינפיס קיים כדי להבטיח את עצם קיומו של כדור הארץ שלנו. 
      %p לאורך יותר מ-40 שנות קיומנו חגגנו ניצחונות והצלחות רבות, וזאת בעזרת יישום יעיל ושיטתי של שיטות עבודה מוכחות כמו מחקר מדעי ואקדמי ממוקד, לוביזם ישיר מול מקבלי ההחלטות ובעלי ההון, פעילות ישירה יצירתית, חשיפה תקשורתית ועוד.
      %p אבל את כל אלו אנחנו פשוט לא יכולים להשיג ללא תומכינו הנאמנים – אנשים פרטיים מודעים ואכפתיים, ממש כמוך. אנשים שמוכנים לנקוט עמדה ולהתייצב למען האידיאלים, הערכים והאמונות שלהם ולהגן על זכותנו לחיות בעולם, נקי, בטוח ובר קיימא.
      %p 
        %strong כל הצלחה וכל הישג שלנו הם פשוט בלתי אפשריים בלעדיך.
      %p 
        %strong תודה רבה על חברותך החיונית!
      %br/
      %p נשמח לעמוד לרשותך לכל שאלה, הצעה או בקשה!
      %p ניתן להשיג אותנו בטלפון  072-2204510
      %p
        או במייל 
        %a{:href=>'mailto:gpmedisr@greenpeace.org'} gpmedisr@greenpeace.org
      %p צוות קשרי התומכים שלנו פעיל ועומד לרשותך בימים א-ה בין השעות 10:00-21:30
      %p ובימי ו' בין השעות 10:00-15:00.
      %br/
      %p 
        ניתן למצוא הרבה מידע מעניין על פעילויות הארגון גם
        %a{:href=>'https://www.facebook.com/greenpeace.il'} בפייסבוק
        שלנו.
      %p
        %strong שוב תודה רבה על חברותך ותמיכתך!
      %p שלמה פלדמן,
      %p מנהל קשרי תומכים,
      %p בשם צוות גרינפיס ים תיכון ישראל
    -12.times do
      %br/

    %p=link_to tag_icon(:list, pat(:list)), url(:supporters, :mine)
