-content_for :header do
  %link{:src=>'/admin/stylesheets/application.css', :type=>'text/css' }
.ltr
  %ul.nav.nav-tabs
    %li.active=link_to tag_icon(:list, pat(:list)), url(:supporters, :index)
    %li=link_to tag_icon(:plus, pat(:new)), url(:new)

  .tabs-content
    %table#list.table.table-striped.table-hover.table-condensed
      %thead
        %tr
          -if ['admin','coach'].include? current_account.role
            %th.header.list-menu
              .dropdown
                %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
                  =tag_icon :magic
                  %span.caret
                %ul.list-menu.dropdown-menu{:role => :menu}
                  %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
                  %li.list-menu-wrapper.list-menu-wrapper-disabled
                    =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
                  %li.list-menu-divider.divider
                  %li.list-menu-wrapper.list-menu-wrapper-disabled
                    =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                    .list-menu-popover-delete-selected.popover.right
                      .arrow
                      %h3.popover-title=pat(:delete_selected_title)
                      .popover-content
                        -form_tag url(:supporters, :destroy_many), :method => :delete do
                          =hidden_field_tag :supporter_ids, :'data-delete-many-ids' => true
                          =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                          .btn.btn-small.cancel=pat(:cancel)
          %th.header= mat(:supporter, :uniqnum)
          %th.header= mat(:supporter, :acquired_at)
          %th.header= mat(:supporter, :acquired_by)
          %th.header= mat(:supporter, :first_name)
          %th.header= mat(:supporter, :last_name)
          %th.header= mat(:supporter, :occupation)
          %th.header= mat(:supporter, :city)
          %th.header= mat(:supporter, :street_name)
          %th.header= mat(:supporter, :email)
          %th.header= mat(:supporter, :ap_monthly)
          %th.header= mat(:supporter, :acquired_at)
          %th.header.list-row-action-header

      %tbody
        -@supporters.each do |supporter|
          %tr.list-row
            -if ['admin','coach'].include? current_account.role
              %td.list-column.list-selectable
                =check_box_tag 'supporter_ids[]', :value => supporter.id, :class => 'list-selectable-checkbox'
            %td.list-column
              -if ['admin','coach'].include? current_account.role
                %a{:href=>'/supporters/edit/'+supporter.id.to_s}=supporter.uniqnum
              -else
                =supporter.uniqnum
            %td.list-column=supporter.acquired
            %td.list-column=supporter.account.name
            %td.list-column=supporter.first_name
            %td.list-column=supporter.last_name
            %td.list-column=supporter.occupation
            %td.list-column=supporter.city
            %td.list-column=supporter.street_name
            %td.list-column=supporter.email
            %td.list-column=supporter.ap_monthly
            %td.list-column=time_ago_in_words supporter.acquired
            %td.list-column.list-row-action
